[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.11.9"

[scripts]
app = "streamlit run app.py"